
HealthChecks_API/.vs/HealthChecks_API/v16/.suo
HealthChecks_API/.vs/HealthChecks_API/v16/Server/sqlite3/db.lock
HealthChecks_API/.vs/HealthChecks_API/v16/Server/sqlite3/storage.ide
HealthChecks_API/.vs/HealthChecks_API/v16/Server/sqlite3/storage.ide-shm
HealthChecks_API/.vs/HealthChecks_API/v16/Server/sqlite3/storage.ide-wal
HealthChecks_API/HealthChecks_API/obj/project.assets.json
HealthChecks_API/HealthChecks_API/obj/HealthChecks_API.csproj.nuget.g.targets
HealthChecks_API/HealthChecks_API/obj/HealthChecks_API.csproj.nuget.g.props
HealthChecks_API/HealthChecks_API/obj/HealthChecks_API.csproj.nuget.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.RazorTargetAssemblyInfo.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.RazorAssemblyInfo.cs
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.RazorAssemblyInfo.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.pdb
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.dll
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.csprojAssemblyReference.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.csproj.FileListAbsolute.txt
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.assets.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.AssemblyInfoInputs.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.2/HealthChecks_API.AssemblyInfo.cs
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.1/HealthChecks_API.RazorAssemblyInfo.cs
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.1/HealthChecks_API.RazorAssemblyInfo.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.1/HealthChecks_API.csprojAssemblyReference.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.1/HealthChecks_API.assets.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.1/HealthChecks_API.AssemblyInfoInputs.cache
HealthChecks_API/HealthChecks_API/obj/Debug/netcoreapp2.1/HealthChecks_API.AssemblyInfo.cs
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/appsettings.Development.json
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/appsettings.json
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/HealthChecks_API.deps.json
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/HealthChecks_API.dll
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/HealthChecks_API.pdb
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/HealthChecks_API.runtimeconfig.dev.json
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/HealthChecks_API.runtimeconfig.json
HealthChecks_API/HealthChecks_API/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
